<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <head>
    <meta charset="UTF-8">
    <title>Mitarbeiterverwaltung</title>
  </head>
  <body>
    <div class="container-sm mt-5">
      <h2>Mitarbeiter</h2>
      <table class="table mt-3">
        <tr>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">Email-Adresse</th>
          <th scope="col">Telefonnummer</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        <tr th:each="m:${mitarbeiter}">
          <td th:text="${m.vorname}"></td>
          <td th:text="${m.nachname}"></td>
          <td th:text="${m?.email}"></td>
          <td th:text="${m?.telefon}"></td>
          <td><a>Bearbeiten</a></td>
          <td><a th:href="@{/mitarbeiterverwaltung/delete(id=${m.id})}">Löschen</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>