<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Mitarbeiterverwaltung</title>
</head>
<body>
<div class="container-sm mt-5">
  <h2>Mitarbeiter bearbeiten</h2>
  <form class="mt-3" th:action="@{/mitarbeiterverwaltung/edit/post(id=${mitarbeiter.id})}" method="post">
    <div class="mb-3">
      <label for="vorname" class="form-label">Vorname:</label>
      <input type="text" th:value="${mitarbeiter.vorname}" class="form-control" id="vorname" name="vorname" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="nachname" class="form-label">Nachname:</label>
      <input type="text" th:value="${mitarbeiter.nachname}" class="form-control" id="nachname" name="nachname" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email-Adresse:</label>
      <input type="email" th:value="${mitarbeiter?.email}" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="telefon" class="form-label">Telefonnummer (Deutschland):</label>
      <input type="tel" th:value="${mitarbeiter?.telefon}" class="form-control" id="telefon" name="telefon" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Abschicken</button>
  </form>
</div>
</body>
</html>