<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Mitarbeiterverwaltung</title>
</head>
<body>
<p class="m-3">Mitarbeiter erfolgreich gelöscht!</p>
<a href="/mitarbeiterverwaltung/mitarbeiter"><button type="button" class="btn btn-secondary m-3">Mitarbeiter anzeigen</button></a>
<a href="/mitarbeiterverwaltung"><button type="button" class="btn btn-primary m-3">Mitarbeiter hinzufügen</button></a>
</body>
</html>